.header {
    grid-area: h;
    background-color: #4a76a8;
    border-radius: 0 0 10px 10px;
}
.header img {
    margin: 9px 0 7px 55px;
    width: 45px;
}

.loginBlock {
    float: right;
    font-size: 20px;
    margin-right:  20px;
    margin-top: 13px;
    color: #fff;
}

.nav {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav:hover {
    color: #bfb9bf;
}

.button {
    appearance: none;
    border: 1px solid #4C4C4C;
    border-radius: 5px;
    background: #69717d;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

.button:hover {
    background: #4c4c4c;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 1px #37374a;
}

.isAuth {
    display: flex;

}

.name {
    margin-top: 3px;
    margin-right: 18px;
    font-size: 24px;
    font-family: Сomic Sans MS;
}