.nav {
    grid-area: n;
    padding-top: 20px;
    padding-left: 35px;
    width: 90%;
}

.itemHover:hover {
    background-color: #4c4c4c;
    border-radius: 3px;
}

.item a {
   color: #fff;
   margin-left: 20px;
   font-size: 27px;
   text-decoration: none;
   font-weight: 600;
   transition: .3 linear;
}

.img {
    width: 20px;
}

.setting {
    padding-top: 40px;
    width: 15px;
}
