.logo {
  margin-top: 10px;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  position: center;
  opacity: 1.0;
}

.logo:hover {
  cursor: pointer;
}

.all {
  margin-left: 30px;
}

.description {
  padding-bottom: 15px;
  margin-left: 35px;
  display: flex;
}

.input {
  display: none;
}

.des {
  margin-top: 25px;
  margin-left: 60px;
  font-family: "Book Antiqua";
  font-size: 18px;
}

.des li {
  list-style-type: none;
  margin: 7px 0 7px 0;
}
