.logo {
  margin-top: 13px;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  position: center;
  opacity: 1.0;
  border: 5px solid #18191a;
}

.logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.all {
  background-color: #242526;
  margin-left: 30px;
  padding-top: 20px;
  border-radius: 5px;
  width: 80%;
}

.description {
  padding-bottom: 20px;
  margin-left: 35px;
  display: flex;
  color: #fff;
}

.input {
  display: none;
}

.des {
  margin-top: 20px;
  margin-left: 60px;
  font-family: "Book Antiqua";
  font-size: 18px;
}

.des li {
  list-style-type: none;
  margin: 12px 0;
}

.des input {
  width: 250px;
  border: 0;
  border-bottom: 2px solid #38ef7d;
  outline: 0;
  font-size: 15px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
}

.des button {
  margin-top: 15px;
  padding: 7px 14px;
  outline: none;
  border: none;
  background-color: #3a3b3c;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-left: 60px;
}

.contacts {
  margin: 12px 0 12px 0;
}

.contacts a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.button {
  padding: 7px 14px;
  outline: none;
  border: none;
  background-color: #3a3b3c;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #67696b;
}
